body{
font-family:L san-serif;
}
/*make content area fill the entire browser window*/
html,
.fullscreen{
display:flex;
height:100%
margin:0;
padding:0;
windth:100%;
}
/*Center the content in the browser window*/
.container{
  margin:auto
    tent-align:center
}
.title{
  font-Size:3rem;
}
.icons{
	src: "images/hello-icon-144.png",
    	sizes: 144x144,
	type: "image/png",
	purpose: "any"
}
